.color {
    background-color: #eb85b8;
}

.d-block {
    transition: transform 2s;
}

@media (max-width: 576px) {
    .contentAccordion {
        display: none;
    }
}

.content-wrapper {
    display: flex;
    margin: 5% 8%; 
    align-items: center;

}

.contentAccordion {
    padding: 10%;
    justify-content: space-between;
}

.contentSection {
    width: 70%; 
    padding: 2%;
}


.titles{
    text-align: center;
}